In [1]:
#calculating basic statistics with python
#mean
X = [1, 2, 3, 4, 5]
1 + 2+ 3+4 +5

15

In [ ]:
sum(X) #python built in function

15

In [3]:
#Pythno built in length function
sum(X)/len(X)

3.0

In [4]:
#Libraries give us pre-written code to solve common tasks.
#pre-written
#pre-tested
#often faster

import numpy as np
X_np = np.array(X)
X_np.mean()

np.float64(3.0)

In [5]:
np.mean(X)

np.float64(3.0)

In [6]:
#two versions of numpy 
X_np.mean()
np.mean(X_np)

np.float64(3.0)

In [7]:
#Pandas is a library for data management and visualization
#Will use pandas to load data in Module 1
#More advanced pandas usage in Module


import pandas as pd
X_pd = pd.DataFrame(data ={"X":X})
X_pd.mean()

X    3.0
dtype: float64

In [8]:
np.mean(X_pd)

np.float64(3.0)

In [9]:
#standard deviation
np.mean(X)

np.float64(3.0)

In [10]:
[x-3 for x in X]

[-2, -1, 0, 1, 2]

In [11]:
[(x-3)**2 for x in X]

[4, 1, 0, 1, 4]

In [12]:
sum([(x-3)**2 for x in X])

10

In [17]:
sum([(x-3)**2 for x in X])/4
import math

In [18]:
math.sqrt(sum([(x-3)**2 for x in X])/4)

1.5811388300841898

In [19]:
np.std(X, ddof=1)

np.float64(1.5811388300841898)

In [ ]:
np.std(X_np, ddof=1) #correction of downward bias

np.float64(1.5811388300841898)

In [21]:
np.std(X)

np.float64(1.4142135623730951)

In [22]:
X_np.std(ddof=1)

np.float64(1.5811388300841898)

In [23]:
X_pd.std(ddof=1)

X    1.581139
dtype: float64

In [24]:
X_pd.describe()

              X
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000